.feynman__main-illustration {
    background-image: url("../../../images/feynman.png");
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 867px;
    height: 637px;
    z-index: 1;
  }